@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_HomeNavbar.cshtml";
}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('https://i.hizliresim.com/50sp2xc.jpg'); " data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">
                    <h1 class="mb-3 bread">Hakkımızda</h1>
                </div>
            </div>
        </div>
    </section>
<section class="ftco-section ftco-about">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url('https://i.hizliresim.com/50sp2xc.jpg'); ">
                </div>
                <div class="col-md-6 wrap-about ftco-animate">
                    <div class="heading-section heading-section-white pl-md-5">
                        <h2 class="mb-4">Hoşgeldiniz Değerli Müşterimiz</h2>

                        <p>İZMİRent A Car Olarak Her Zaman Çağın Gerekliliklerine Uygun, Güvenilir Ve Aynı Zamanda Ekonomik Fiyatlarla Size En Uygun Araçları Teslim Edip Güvenli Ve Hızlı Yol Almanızı Sağlıyoruz.</p>
                        <p>İZMİRent A Car Olarak Biz Ülkemizin ve Dünyanın Bütün Güzelliklerini Herkesin Görmesi Gerektiğine İnanıyoruz. İZMİRent A Car Ailesi Ve İş Ortaklarımız Hep Birlikte Bunun İçin Çalışıyoruz.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="ftco-section ftco-intro" style="background-image: url('https://images.wallpaperscraft.com/image/single/mclaren_p1_mclaren_sports_car_128739_1920x1080.jpg'); ">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-6 heading-section heading-section-white ftco-animate">
                    <h2 class="mb-3">DİĞER WEB SİTEMİZEDE GÖZ ATMAK İSTER MİSİNİZ ?</h2>
                    <a target="_blank" href="http://www.rodinaturkey.com/" class="btn btn-primary btn-lg">GÖZ AT</a>
                </div>
            </div>
        </div>
    </section>
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>